<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag Settings.image_header %><%=  t ".title" %>
    <% end %>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <% if user_signed_in? && current_user.admin? %>
      <li class="nav-item">
        <%= link_to t(".admin"),  admin_path %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li class="dropdown">
        <%= link_to "#", data: {toggle: "dropdown"}, class: "dropdown-toggle" do %>
          <%= current_user.information_user.first_name + " " + current_user.information_user.last_name if current_user.information_user %>
        <% end %>
        <ul class="dropdown-menu">
          <% if current_user.information_user %>
            <li>
              <%= link_to t(".edit"), edit_information_user_path(current_user.information_user) %>
            </li>
          <% else %>
            <li>
              <%= link_to t(".create"), new_information_user_path(current_user.id) %>
            </li>
          <% end %>
          <li class="divider"></li>
          <li>
            <%= link_to t(".log_out"), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to t(".sign_in"), new_user_session_path %>
      </li>
      <li class="nav-item">
        <%= link_to t(".sign_up"), new_user_registration_path %>
      </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>
</nav>
