<ul class="nav" id="side-menu">
  <li>
    <h4 class="dashboard"><%= t ".manage_content" %></h4>
  </li>
  <li>
    <%= link_to t(".blogs"), "#" %>
  </li>
  <li>
    <%= link_to t(".users"), "#" %>
  </li>
  <li>
    <%= link_to t(".genders"), "#" %>
  </li>
  <li>
    <%= link_to t(".relationship"), "#" %>
  </li>
</ul>
