<% provide :title, t(".users") %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-bordered table-hover" id="datatable">
          <thead>
            <tr>
              <th><%= t ".stt" %></th>
              <th><%= t ".name" %></th>
              <th><%= t ".created_at" %></th>
              <th colspan="2"><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each_with_index do |user,index| %>
            <tr>
              <td><%= create_index params[:page], index, Settings.per_page %></td>
              <td><%= user.information_user.first_name + " " +
                user.information_user.last_name %></td>
              <td><%= I18n.localize user.created_at, format: :created_at %></td>
              <td><%= link_to t(".detail"), admin_user_path(user),
                class: "btn btn-warning" %></td>
              <td>
                <%= link_to t(".delete"), admin_user_path(user),
                method: :delete, data: {confirm: t(".confirm")},
                  class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
