<% provide :title, t(".detail") %>
<div class="row">
  <div class="col-lg-12">
    <%= link_to t(".back"), admin_users_path, class: "btn btn-success" %>
    <div class="panel panel-default">
      <div class="panel-body">
        <table width="100%" class="table table-bordered table-hover" id="datatable">
          <thead>
            <tr>
              <th><%= t ".name" %></th>
              <th><%= t ".image" %></th>
              <th><%= t ".gender" %></th>
              <th><%= t ".address" %></th>
              <th><%= t ".birthday" %></th>
              <th><%= t ".weight" %></th>
              <th><%= t ".height" %></th>
              <th><%= t ".education" %></th>
              <th><%= t ".relationship" %></th>
              <th><%= t ".children" %></th>
              <th><%= t ".created_at" %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @info.first_name + " " + @info.last_name %></td>
              <td><%= image_tag @info.image %></td>
              <td><%= show_name_gender(@info.gender_id) %></td>
              <td><%= @info.address %></td>
              <td><%= I18n.localize @info.birthday, format: :birthday_format %></td>
              <td><%= @info.weight %></td>
              <td><%= @info.height %></td>
              <td><%= @info.education %></td>
              <td><%= @info.relationship %></td>
              <td><%= @info.children %></td>
              <td><%= I18n.localize @info.created_at, format: :created_at %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
