<!DOCTYPE html>
<html>
  <head>
    <title>DatingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="header col-md-12">
      <%= render "static_pages/header" %>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container main-content">
      <%= yield %>
    </div>
    <div class="header col-md-12">
      <%= render "static_pages/footer" %>
    </div>
  </body>
</html>
