<% provide :title, t(".create_user") %>
<div class="container">
  <div class="row content-1">
    <div class="col-md-3 col-md-offset-3"></div>
    <div class="col-md-6 col-md-offset-3">
      <br>
      <h1><%= t ".update_your_profile" %></h1>
      <br>
      <%= form_for @info, url: {action: :create, controller: :information_users} do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= label_tag :image, nil, class: "col-md-3" %>
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        <%= label_tag :first_name, nil, class: "col-md-3" %>
        <%= f.text_field :first_name, class: "form-control col-md-8" %>
        <%= label_tag :last_name, nil, class: "col-md-3" %>
        <%= f.text_field :last_name, class: "form-control col-md-8" %>
        <%= label_tag :address, nil, class: "col-md-3" %>
        <%= f.text_field :address, class: "form-control col-md-8" %>
        <%= label_tag :gender, nil, class: "col-md-3" %>
        <%= f.select :gender_id, options_for_select(show_gender),{}, {class: "form-control col-md-8"} %>
        <%= label_tag :birthday, nil, class: "col-md-3" %>
        <%= f.date_field :birthday, min: (I18n.localize 100.year.ago, format: :birthday_format), max: (I18n.localize Date.today, format: :birthday_format),:class => "col-md-8" %>
        <%= label_tag :height, nil, class: "col-md-3" %>
        <%= f.text_field :height, class: "form-control col-md-8" %>
        <%= label_tag :weight, nil, class: "col-md-3" %>
        <%= f.text_field :weight, class: "form-control col-md-8" %>
        <%= label_tag :education, nil, class: "col-md-3" %>
        <%= f.select :education,
          options_for_select(show_education),{}, {class: "form-control col-md-8"} %>
        <%= label_tag :relationship, nil, class: "col-md-3" %>
        <%= f.select :relationship,
          options_for_select(show_relationship),{}, {class: "form-control col-md-8"} %>
        <%= label_tag :children, nil, class: "col-md-3" %>
        <%= f.select :children,
          options_for_select(show_children),{}, {class: "form-control col-md-8"} %>
        <%= label_tag :religion, nil, class: "col-md-3" %>
        <%= f.text_field :religion, class: "form-control col-md-8" %>
        <%= label_tag :description, nil, class: "col-md-3" %>
        <%= f.text_field :description, class: "form-control col-md-8" %>
        <%= f.submit t(".save_changes"), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-3 col-md-offset-3"></div>
  </div>
</div>
