<% provide :title, t(".detail_user") %>
<div class="container">
  <div class="information">
    <div class="image-information">
      <%= image_tag @info.image %>
    </div>
    <div class="information">
      <h2><%= @info.first_name + " " + @info.last_name %></h2>
      <p><%= t ".gender" %> <%= show_name_gender(@info.gender_id) %></p>
      <p><%= t ".address" %> <%= @info.address %></p>
      <%= link_to t(".send_message"), "#", class: "btn btn-success" %>
    </div>
  </div>
</div>
