<p><%= t ".hello", email: @email %>!</p>

<p><%= t ".notice" %></p>

<p><%= link_to t(".change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".text1" %></p>
<p><%= t ".text2" %></p>
